{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?{% now 'U' %}">
</head>

<body>

{% block content %}

    <div class='login-outer-container'>
        <div class='login-container'>
            <div class='login-area'>
                <h3>LOGIN TO REDX</h3>
                <form class="login-items mt-4 needs-validation" novalidate action="{% url 'Todo:login' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Username</label>
                        {{ form.username.errors }}
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Password</label>
                        {{ form.password.errors }}
                        {{ form.password }}
                    </div>
                    <button type="submit" class="btn btn-primary login-btn">Login</button>
                </form>
                
                <p class='p'>New to RedX? <a class='a' href="{% url 'Todo:register' %}">Create an Account</a></p>
                <p class='p'>Forgot password? <a href="{% url 'Todo:password_reset' %}" class='a'>Reset Password</a></p>
                <div class='social-login-container'>
                    <p class='prompt'>or</p>
                    <div class='social-login'>
                        <button class='google-signin'><i class="fa-brands fa-google"></i> Login with Google</button>
                        <button class='github-signin'><i class="fa-brands fa-github"></i>View source Code On Github</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}
    
</body>

</html>