{% extends "base.html" %}
{% load static %}

 <title>{% block title%}home | {item.title}{% endblock %}</title>
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        {% include "alert.html" %}
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="card-title mb-0">{{item.title}}</h5>
          </div>
          <div class="card-body">
            <p class="card-text"><strong>Description:</strong> {{item.description}}</p>
            <p class="card-text"><strong>Due Date:</strong> {{item.due_date}}</p>
            <p class="card-text"><strong>Completed:</strong> {{item.completed}}</p>
            <a href="{% url 'Todo:edit_todo' item.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'Todo:todo_list' %}" class="btn btn-secondary">Back to Todo List</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
{% endblock %}